<h1>Flickr Search Example</h1>
<div>
  <%= form_tag(flickr_images_path, method: :get) do |f| %>
    <%= label_tag :keyword, 'Search Keyword(s):' %>
    <%= text_field_tag :keyword, keyword %>
    <%= submit_tag 'Search' %>
  <% end %>
</div>
<%= render(partial: 'pagination', object: flickr_images) %>
<div>
  <%= render(partial: 'image', collection: flickr_images.to_a) %>
</div>
