<div>
  <%= form_for search_form, url: flickr_images_path, method: :get do |f| %>
    <%= f.text_field :keyword %>
    <%= f.submit 'Search' %>
  <% end %>
</div>
<div>
  <% flickr_images.each do |image| %>
    <div>
      <%= link_to flickr_image_path(image.id) do %>
        <%= image.title %>
        <%= image_tag image.url(:thumb) %>
      <% end %>
    </div>
  <% end %>
</div>
